.prometheus #bps_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 320px;
    left: 453px;
    color: white; /* Text color */
}

.prometheus #ox_feed_line_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 185px;
    left: 496px;
    color: white; /* Text color */
}
.prometheus #fuel_feedline_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 312px;
    left: 496px;
    color: white; /* Text color */
}
.prometheus #injector_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 342px;
    left: 956px;
    color: white; /* Text color */
}
.prometheus #cc_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 342px;
    left: 846px;
    color: white; /* Text color */
}
.prometheus #load_cell {
    position: absolute;
    top: 430px;
    left: 890px;
}

.prometheus #ox_fill {
    position: absolute;
    top: 105px;
    left: 605px;
}

.prometheus #ox_ground_vent {
    position: absolute;
    top: 340px;
    left: 710px;
    transform: rotate(90deg);
}
.prometheus #fuel_ground_vent {
    position: absolute;
    top: 340px;
    left: 700px;
    transform: rotate(90deg);
}
.prometheus #fuel_ground_vent {
    position: absolute;
    top: 340px;
    left: 700px;
    transform: rotate(90deg);
}
.prometheus #fuel_remote_purge {
    position: absolute;
    top: 230px;
    left: 673px;
    transform: rotate(90deg) scale(0.8);
}

.prometheus #bps {
    position: absolute;
    top: 190px;
    left: 183px;
}
.prometheus #ox_remote_purge {
    position: absolute;
    top: 330px;
    left: 573px;
    transform: rotate(900deg) scale(0.8);
}

.prometheus #fuel_fill{
    position: absolute;
    top: 245px;
    left: 605px;
}
