.prometheus #bps_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 265px;
    left: 150px;
    color: white; /* Text color */
}

.prometheus #ox_feed_line_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 185px;
    left: 496px;
    color: white; /* Text color */
}
.prometheus #fuel_injector_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 237px;
    left: 900px;
    color: white; /* Text color */
    transform: scale(0.6);
}
.prometheus #ox_injector_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 235px;
    left: 837px;
    color: white; /* Text color */
    transform: scale(0.6);
}
.prometheus #cc_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 157px;
    left: 915px;
    color: white; /* Text color */
    transform: scale(0.6);
}
.prometheus #load_cell {
    position: absolute;
    top: 190px;
    left: 970px;
}

.prometheus #ox_fill {
    position: absolute;
    top: 105px;
    left: 605px;
}

.prometheus #ox_ground_vent {
    position: absolute;
    top: 185px;
    left: 755px;
    transform: rotate(90deg) scale(0.7);
}

.prometheus #fuel_ground_vent {
    position: absolute;
    top: 255px;
    left: 750px;
    transform: rotate(90deg) scale(0.7);
}
.prometheus #fuel_remote_purge {
    position: absolute;
    top: 230px;
    left: 663px;
    transform: rotate(90deg) scale(0.6);
}

.prometheus #bps {
    position: absolute;
    top: 190px;
    left: 183px;
}
.prometheus #ox_remote_purge {
    position: absolute;
    top: 170px;
    left: 673px;
    transform: rotate(90deg) scale(0.6);
}

.prometheus #fuel_fill{
    position: absolute;
    top: 245px;
    left: 605px;
}
