#feed_line_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 200px;
    left: 68px;
    color: white; /* Text color */
}

#ox_tank_pt {
    position: absolute; /* Position the overlay absolutely */
    top: 22px;
    left: 516px;
    color: white; /* Text color */
}

#load_cell {
    position: absolute;
    top: 20px;
    left: 650px;
}

#ox_fill {
    position: absolute;
    top: 101px;
    left: 127px;
}

#ground_vent {
    position: absolute;
    top: 190px;
    left: 203px;
}

#engine_vent {
    position: absolute;
    top: -50px;
    left: 590px;
}

#fuel_run{
    position: absolute;
    top: 101px;
    left: 390px;
}
#nitrous_run{
    position: absolute;
    top: 101px;
    left: 590px;
}